body {
  margin: 20px 20%;
  max-width: 50%;
  color: #222;
  font-family: 'Helvetica', 'Arial', sans-serif;
  line-height: 1.4;
  padding: 3px 3px;
}

a {
  color: blue;
}

.headline {
  color: black;
}